@{
    ViewData["Title"] = "Home Page";
  }

  <div class="text-center">
    <h1 class="display-4">Les Injection de dépendance</h1>
    <p>Message du ZombieForecast Utility: <span class="text-info"><strong></strong></span></p>
    <p>Les prédictions de Waze : à venir</p>
  </div>


